html,body{
	margin:0; 
	padding:0;
	background-color:#000;
	width:100%;
	height:100%;
	text-align:center;
}
#dummy{
	margin:0;
	padding:0;
	margin-bottom:-203px;
	width:1px;
	height:44%;
	float:left;
}
#wrapper{
	position:relative;
	clear:left;
	margin:0 auto; 
	padding:0; 
	width:320px;
    height:405px;
	background-color:#000;
	font-size: medium;
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
#game_canvas{
	position:absolute;
	top:20px;
	left:0px;
	width:320px;
	height:320px;
	background-color:#fff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#top_info1{
	position:absolute;
	top:0px;
	width:320px;
	height:20px;
	background-color:#000;
}
#linfo{
	position:absolute;
	left:10px;
	width:100px;
	height:16px;
	color:#fff;
	background-color:#000;
	text-align:left;
}

#rinfo{
	position:absolute;
	left:160px;
	width:130px;
	height:16px;
	color:#fff;
	background-color:#000;
	text-align:right;
}


#top_info2{
	position:absolute;
	top:0px;
	width:320px;
	height:16px;
	padding:2px 0;
	color:#fff;
	background-color:transparent;
	text-align:center;
}

#bottom_info{
	position:absolute;
	top:340px;
	width:320px;
	height:50px;
	text-align:center;
	background-color:#000;
}
#bottom_info_pc{
	position:absolute;
	top:340px;
	width:320px;
	height:50px;
	text-align:center;
	background-color:#000;
}
